/ {
  behaviors {
    // Czech letters — lowercase (L0..L3) / uppercase (U0..U3)
    ZMK_UNICODE_PAIR(cs_a_acute, N0, N0, E, N1,  N0, N0, C, N1) // á Á
    ZMK_UNICODE_PAIR(cs_e_acute, N0, N0, E, N9,  N0, N0, C, N9) // é É
    ZMK_UNICODE_PAIR(cs_i_acute, N0, N0, E, D,   N0, N0, C, D ) // í Í
    ZMK_UNICODE_PAIR(cs_o_acute, N0, N0, F, N3,  N0, N0, D, N3) // ó Ó
    ZMK_UNICODE_PAIR(cs_u_acute, N0, N0, F, A,   N0, N0, D, A ) // ú Ú
    ZMK_UNICODE_PAIR(cs_y_acute, N0, N0, F, D,   N0, N0, D, D ) // ý Ý

    ZMK_UNICODE_PAIR(cs_c_caron, N0, N1, N0, D,  N0, N1, N0, C) // č Č
    ZMK_UNICODE_PAIR(cs_d_caron, N0, N1, N0, F,  N0, N1, N0, E) // ď Ď
    ZMK_UNICODE_PAIR(cs_e_caron, N0, N1, N1, B,  N0, N1, N1, A) // ě Ě
    ZMK_UNICODE_PAIR(cs_n_caron, N0, N1, N4, N8, N0, N1, N4, N7) // ň Ň
    ZMK_UNICODE_PAIR(cs_r_caron, N0, N1, N5, N9, N0, N1, N5, N8) // ř Ř
    ZMK_UNICODE_PAIR(cs_s_caron, N0, N1, N6, N1, N0, N1, N6, N0) // š Š
    ZMK_UNICODE_PAIR(cs_t_caron, N0, N1, N6, N5, N0, N1, N6, N4) // ť Ť
    ZMK_UNICODE_PAIR(cs_u_ring,  N0, N1, N6, F,  N0, N1, N6, E ) // ů Ů
    ZMK_UNICODE_PAIR(cs_z_caron, N0, N1, N7, E,  N0, N1, N7, D) // ž Ž
  };
};
